<form method="get" action="/">
  <input type="submit" value="Home Screen"/>
</form>
<br>
<table>
  <tr>
    <th>Edit?</th>
    <th>Date</th>
    <th>Time</th>
    <th>Glucose</th>
    <th>Carbs</th>
    <th>Insulin</th>
  </tr>
  <% username_data(session[:username])["data"].each do |time, data| %>
  <tr>
    <td><form method="get" action="/<%= "#{time[0]}_#{time[1]}_#{time[2]}_#{time[3]}_#{time[4]}_#{time[5]}" %>/edit">
      <input type="submit" value="Edit">
    </form>
    <td><%= time[0] %>/<%= time[1] %>/<%= time[2] %></td>
    <td><%= time[4] %>:<%= format('%02d', time[5]) %> <%= time[3] %></td>
    <td><%= data[0] %></td>
    <td><%= data[1] %></td>
    <td><%= data[2] %></td>
  </tr>
  <% end %>
</table>
